@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {

  font-family: 'Cabin', sans-serif;
}

h1, #ourForm, h3 {
  margin-left: 20px;
}

button {
  font-family: inherit;
  height: 2.55em;
  background-color: #DBDFFD;
  color: #242F9B;
  border: none;
  padding: 7px 15px;
  border-radius: 20px;
  margin: 5px 15px;
}

ul {
  list-style-type: none;
}

li {
  padding: 0 0;
  margin: 0;
}

#ourForm input {
  height: 2em;
}

input {
  font-family: inherit;
}
